-- Phase 10.5 Step 10.5-5: Futures Hedging Persistence

-- 1. Persistent House Exposure
CREATE TABLE IF NOT EXISTS house_exposure (
  market VARCHAR(32) PRIMARY KEY,
  signed_exposure NUMERIC(36,18) NOT NULL DEFAULT 0,
  version BIGINT NOT NULL DEFAULT 1,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 2. Idempotent Customer Fill processing
-- Using trade_id to ensure exactly-once application to house exposure
CREATE TABLE IF NOT EXISTS house_exposure_events (
  event_id VARCHAR(128) PRIMARY KEY,
  market VARCHAR(32) NOT NULL,
  side VARCHAR(16) NOT NULL,
  quantity NUMERIC(36,18) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. Hedge Intents
CREATE TABLE IF NOT EXISTS hedge_intents (
  hedge_intent_id VARCHAR(128) PRIMARY KEY,
  market VARCHAR(32) NOT NULL,
  side VARCHAR(16) NOT NULL,
  requested_quantity NUMERIC(36,18) NOT NULL,
  remaining_quantity NUMERIC(36,18) NOT NULL,
  target_exposure NUMERIC(36,18) NOT NULL,
  reason VARCHAR(64) NOT NULL,
  status VARCHAR(64) NOT NULL,
  cloid VARCHAR(66) NOT NULL UNIQUE,
  external_order_id VARCHAR(128),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. External Orders
CREATE TABLE IF NOT EXISTS external_orders (
  cloid VARCHAR(66) PRIMARY KEY,
  venue_order_id VARCHAR(128) NOT NULL,
  hedge_intent_id VARCHAR(128) REFERENCES hedge_intents(hedge_intent_id),
  venue VARCHAR(64) NOT NULL,
  status VARCHAR(64) NOT NULL,
  market VARCHAR(32) NOT NULL,
  side VARCHAR(16) NOT NULL,
  requested_quantity NUMERIC(36,18) NOT NULL,
  executed_quantity NUMERIC(36,18) NOT NULL DEFAULT 0,
  remaining_quantity NUMERIC(36,18) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 5. External Fills
CREATE TABLE IF NOT EXISTS external_fills (
  id SERIAL PRIMARY KEY,
  venue VARCHAR(64) NOT NULL,
  fill_id VARCHAR(128) NOT NULL,
  cloid VARCHAR(66) REFERENCES external_orders(cloid),
  external_order_id VARCHAR(128) NOT NULL,
  market VARCHAR(32) NOT NULL,
  side VARCHAR(16) NOT NULL,
  quantity NUMERIC(36,18) NOT NULL,
  price NUMERIC(36,18) NOT NULL,
  fee NUMERIC(36,18) NOT NULL,
  fee_asset VARCHAR(16) NOT NULL DEFAULT 'USDC',
  timestamp TIMESTAMP WITH TIME ZONE NOT NULL,
  source VARCHAR(32) NOT NULL, -- 'REST' or 'WS'
  UNIQUE(venue, fill_id)
);

-- 6. Venue Positions (Reconciliation)
CREATE TABLE IF NOT EXISTS venue_positions (
  venue VARCHAR(64) NOT NULL,
  market VARCHAR(32) NOT NULL,
  account VARCHAR(128) NOT NULL,
  actual_position NUMERIC(36,18) NOT NULL,
  target_position NUMERIC(36,18) NOT NULL,
  last_reconciled_at TIMESTAMP WITH TIME ZONE NOT NULL,
  PRIMARY KEY (venue, market, account)
);

-- 7. Reconciliation Events
CREATE TABLE IF NOT EXISTS hedge_reconciliation_events (
  id SERIAL PRIMARY KEY,
  venue VARCHAR(64) NOT NULL,
  market VARCHAR(32) NOT NULL,
  event_type VARCHAR(64) NOT NULL,
  details JSONB NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
